.app-header {
  background-color: var(--clr1bg);
  color: var(--clr2);
}

.app-header .container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-nav {
  display: flex;
  gap: 2rem;
}

.main-nav a:hover {
  color: black;
  font-weight: 700;
}

